{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">支出统计</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <div class="layui-input-inline">
                <select name="shop_id" id="shop_id" lay-filter="shop_id">
                    <option value="0">请选择门店</option>
                    {volist name="shop" id="vo"}
                    <option value="{$vo['id']}" >{$vo['name']}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="type_id" id="type_id" lay-filter="shop_id">
                    <option value="0">请选择类型</option>
                    {volist name="type" id="voq"}
                    <option value="{$voq['type_id']}" >{$voq['title']}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="time" name="start_time"  placeholder="开始时间" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="end_time" value="{$data['end_time']}" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                </button>
            </div>
            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn"  data-type="reload">
                    <a href="" style="color: white">重置</a>
                </button>
            </div>

            <div style="width: 100%;height:100%;background: #F2F2F2;padding:10px;display: flex;justify-content: flex-start;flex-wrap: wrap;" class="layui-card-body">
                <div class="layui-card" style="width: 200px;height: 100px;margin: 10px;">
                    <div class="layui-card-header">总金额</div>
                    <div class="layui-card-body">
                        <span id="all_price"></span> 元
                    </div>
                </div>
            </div>


            <table class="layui-hide" id="table" lay-filter="table"></table>

        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行第一个laydate实例
        laydate.render({
            elem: '#time', //指定元素
            type: 'datetime'
        });
        //执行第二个laydate实例
        laydate.render({
            elem: '#end_time', //指定元素
            type: 'datetime'
        });
    });
</script>
<script type="text/javascript">
    layui.use(["table","layer"], function() {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#table',
            toolbar: '#toolbarDemo',
            skin: 'row', //行边框风格
            even: true ,//开启隔行背景
            id:"tableTset",
            url: '{:url("admin/Statistics/expenditure")}',
            height: 'full-128',
            /*limit:1,
            limits:[1,2,30,40,50,60,70,80,90],*/
            page: true,
            cols: [
                [
                    { field: 'title', /*width: 80,*/ title: '支出类型'},
                    { field: 'price', /*width: 120,*/ title: '金额'},
                ]
            ],
            done: function(res, curr, count){
                var all_price = res.all_price;
                $('#all_price').html(all_price);
            }
        });

        //搜索
        $("#searchEmailCompany").on("click",function(){
            var start_time = $('#time').val();
            var end_time = $('#end_time').val();
            var shop_id = $('#shop_id').val();
            var type_id = $('#type_id').val();
            table.reload('tableTset', {
                url: '/admin/Statistics/expenditure',
                where: {start_time:start_time,end_time:end_time,shop_id:shop_id,type_id:type_id} //设定异步数据接口的额外参数
            });
        });

        //监听行工具事件
        table.on('tool(table)', function(obj) {
            var data = obj.data;
            //console.log(obj);
            if (obj.event === 'del') {
                layer.confirm('确定删除这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("admin/item/item_del")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }else if (obj.event === 'edit') {
                var url = '{:url("admin/item/item_add")}' + "?id=" + data.id;
                layer.open({
                    type: 2,
                    title: '编辑商品',
                    area: ['800px', '800px'],
                    content: url,
                    end: function(layero, index){
                        table.reload('tableTset', {
                        });
                    }
                });
            }else if (obj.event === 'xiajia') {
                layer.confirm('确定下架这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("admin/item/item_xiajia")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }
            else if (obj.event === 'shangjia') {
                layer.confirm('确定上架这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("admin/item/item_shangjia")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }
        });
    });

</script>
{/block}
