{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="{:url('admin/Statistics/member')}">
            <div class="layui-input-inline">
                <select name="shop_id" id="shop_id" lay-filter="shop_id">
                    <option value="0">请选择门店</option>
                    {volist name="shop" id="vo"}
                    <option value="{$vo['id']}" {if condition="$data['shop_id'] eq $vo['id']"} selected="selected" {/if} >{$vo['name']}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="time" name="time" value="{$data['time']}" placeholder="开始时间" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="end_time" value="{$data['end_time']}" name="end_time" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary" id="tiaozhuan"><a href="{:url('admin/Statistics/member',array('time'=>'','end_time'=>'','shop_id'=>0))}">重置</a></button>
                </div>
            </div>
        </form>
        <div style="width: 100%;height:100%;background: #F2F2F2;padding:10px;display: flex;justify-content: flex-start;flex-wrap: wrap;" class="layui-card-body">
            <div class="layui-card" style="width: 200px;height: 100px;margin: 10px;">
                <div class="layui-card-header">总会员</div>
                <div class="layui-card-body">
                    {$res['all_total']}
                </div>
            </div>
            <div class="layui-card" style="width: 200px;height: 100px;margin: 10px;">
                <div class="layui-card-header">消费会员</div>
                <div class="layui-card-body">
                    {$res['xiao_total']}
                </div>
            </div>
            <div class="layui-card" style="width: 200px;height: 100px;margin: 10px;">
                <div class="layui-card-header">新客会员</div>
                <div class="layui-card-body">
                    {$res['new_member']}
                </div>
            </div>
            <div class="layui-card" style="width: 200px;height: 100px;margin: 10px;">
                <div class="layui-card-header">散客</div>
                <div class="layui-card-body">
                    {$res['sanCount']}
                </div>
            </div>

        </div>
    </div>
    {/block}
    {block name="script"}
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            //执行第一个laydate实例
            laydate.render({
                elem: '#time', //指定元素
                type: 'datetime'
            });
            //执行第二个laydate实例
            laydate.render({
                elem: '#end_time', //指定元素
                type: 'datetime'
            });
        });
    </script>

    <script type="text/javascript">
        layui.use(["table","layer"], function() {
            var table = layui.table,
                layer = layui.layer,
                $ = layui.$;
            table.render({
                elem: '#table',
                toolbar: '#toolbarDemo',
                skin: 'row', //行边框风格
                even: true ,//开启隔行背景
                id:"tableTset",
                url: '{:url("admin/Statistics/cz")}',
                height: 'full-128',
                /*limit:1,
                limits:[1,2,30,40,50,60,70,80,90],*/
                where:{type:1},
                page: true,
                cols: [
                    [
                        { field: 'all_price',  title: '充值金额'},
                        { field: 'price', title: '退款金额'},
                    ]
                ],
            });


        });
    </script>
    {/block}
