{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">商品列表</div>
    <div class="layui-card-body">
        <div class="layui-form">

            <a class="layui-btn layui-btn-sm" id="Add" href="{:url('Assemble/item_add')}" >添加活动</a>

            <div class="layui-input-inline">
                <input class="layui-input" id="demoReload" name="name" placeholder="商品名称" autocomplete="off">
            </div>

            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                </button>
            </div>
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <!-- <script type="text/html" id="toolbarDemo"> -->

            <!-- </script> -->
            <script type="text/html" id="barTool">
                {{#  if(d.status == 1){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">下架</a>
                {{#  } else if(d.status == 2) { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="start">上架</a>
                {{#  } }}
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            </script>

        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(["table","layer"], function() {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#table',
            toolbar: '#toolbarDemo',
            skin: 'row', //行边框风格
            even: true ,//开启隔行背景
            id:"tableTset",
            url: '{:url("mall/Assemble/item_list")}',
            height: 'full-128',
            /*limit:1,
            limits:[1,2,30,40,50,60,70,80,90],*/
            page: true,
            cols: [
                [
                    { field: 'id', width: 80, title: 'ID'},
                    { field: 'title', /*width: 80,*/ title: '活动名称'},
                    { field: 'item_name', /*width: 80,*/ title: '商品名称'},
                    { field: 'old_price', /*width: 120,*/ title: '商品原价'},
                    { field: 'price', title: '普通团购价' },
                    { field: 'commander_price', title: '团长团购价' },
                    { field: 'hot', title: '首页' },
                    { field: 'begin_time', title: '开始时间' },
                    { field: 'end_time', title: '结束时间' },
                    { field: 'create_time', title: '创建时间' },
                    { fixed: 'right', /*width: 160,*/ title: '操作', toolbar: '#barTool' }
                ]
            ],
        });

        //搜索
        $("#searchEmailCompany").on("click",function(){
            var name = $('#demoReload').val();
            table.reload('tableTset', {
                url: '/mall/Assemble/item_list',
                where: {name:name} //设定异步数据接口的额外参数
            });
        });

        //监听行工具事件
        table.on('tool(table)', function(obj) {
            var data = obj.data;
            //console.log(obj);
            if (obj.event === 'del') {
                layer.confirm('确定禁用这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("mall/Assemble/assemble_del")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }else if (obj.event === 'edit') {
                location.href="/mall/Assemble/item_save?id="+data.id;
            }
            else if (obj.event === 'start') {
                layer.confirm('确定上架这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("mall/Assemble/assemble_start")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }
        });
    });

    layui.use(["form"], function(){
        var layer = layui.layer;
        form = layui.form;
        //筛选分类
        form.on('select(type_id)', function(data){
            var val=data.value;
            $.ajax({
                type : "post",
                url : "/admin/Item/category_select",
                data: {pid:val},
                dataType: 'json',
                success:function(res){
                    if( res.code == 1 ){
                        var category = res.data;
                        var option = '';
                        $('#type').empty();
                        $('#type').append("<option value=''>请选择</option>");
                        for( var k in category){
                            $("#type").append("<option value=" + category[k].id + ">" + category[k].cname + "</option>");
                        }
                        form.render("select");
                    }
                }
            });
        });
    });
</script>
{/block}
