{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <a class="layui-btn layui-btn-sm" id="Add">添加首页图标</a>
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="barTool">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{#  if(d.status == 1){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">禁用</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="start">启用</a>
                {{#  } }}
            </script>
            <script type="text/html" id="Type">
                {{#  if(d.type == 1){ }}
                不跳转
                {{#  } else if(d.type == 2) { }}
                跳转外部
                {{#  } else if(d.type == 3) { }}
                跳转内部
                {{#  } else if(d.type == 4) { }}
                开发中
                {{#  } }}
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(["table","layer"], function() {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#table',
            toolbar: '#toolbarDemo',
            skin: 'row', //行边框风格
            even: true ,//开启隔行背景
            id:"tableTset",
            url: '{:url("mall/Setting/icon")}',
            height: 'full-128',
            /*limit:1,
            limits:[1,2,30,40,50,60,70,80,90],*/
            page: true,
            cols: [
                [
                    { field: 'id', /*width: 80,*/ title: 'ID'},
                    { field: 'img', width: 180,height:180, title: '缩略图'},
                    { field: 'title', /*width: 80,*/ title: '名字'},
                    { field: 'type', /*width: 80,*/ title: '跳转类型' ,toolbar:'#Type'},
                    { field: 'url', /*width: 80,*/ title: '跳转地址'},
                    { field: 'value', /*width: 80,*/ title: '参数'},
                    { fixed: 'right', /*width: 160,*/ title: '操作', toolbar: '#barTool' }
                ]
            ],
        });

        //添加单位
        $("#Add").on("click",function(){
            var url  ="{:url('mall/Setting/icon_add')}";
            layer.open({
                type: 2,
                title: '添加图片',
                area: ['600px', '800px'],
                content: url,
                end: function(layero, index){
                    table.reload('table', {
                    });
                }
            });
        });

        //监听行工具事件
        table.on('tool(table)', function(obj) {
            var data = obj.data;
            //console.log(obj);
            if (obj.event === 'del') {
                layer.confirm('确定禁用这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("mall/Setting/icon_del")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }else if (obj.event === 'start') {
                layer.confirm('确定启用这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("/mall/Setting/icon_start")}', { 'id': data.id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }else if (obj.event === 'edit') {
                var url = '{:url("mall/Setting/icon_add")}' + "?id=" + data.id;
                layer.open({
                    type: 2,
                    title: '编辑图片',
                    area: ['600px', '800px'],
                    content: url,
                    end: function(layero, index){
                        table.reload('tableTset', {
                        });
                    }
                });
            }
        });
    });
</script>
{/block}
