<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <meta name="author" content="YZNCMS">
    <link rel="stylesheet" href="__STATIC__/libs/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/ddxm.css">
    <link rel="stylesheet" href="__STATIC__/admin/font/iconfont.css">
    <script src="__STATIC__/libs/layui/layui.js"></script>
    <script src="__STATIC__/libs/jquery/jquery.min.js"></script>
    <style type="text/css">
        .layui-table-cell{
            height:auto !important;
        }
        .layui-layer-title{
            text-align: center;
            padding: 0 ;
            font-size:20px;
        
        }
        .width150{
            width:70px;
        }
        .width200{
            width:70px;
        }
    </style>
    
<script type="text/javascript">
//全局变量
var GV = {
    'image_upload_url': '{$image_upload_url ? $image_upload_url : url("attachment/attachments/upload", ["dir" => "images", "module" => request()->module()])}',
    'file_upload_url': '{$file_upload_url ? $file_upload_url : url("attachment/attachments/upload", ["dir" => "files", "module" => request()->module()])}',
    'WebUploader_swf': '__STATIC__/webuploader/Uploader.swf',
    'upload_check_url': '{$upload_check_url ? $upload_check_url : url("attachment/Attachments/check")}',
    'ueditor_upload_url': '{$ueditor_upload_url ? $ueditor_upload_url : url("attachment/Ueditor/run")}',
};
</script>
</head>
<body class="childrenBody">
<div class="layui-card">
    <div class="layui-card-header">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>营业成本冲正</legend>
        </fieldset>
    </div>
    <div class="layui-card-body">
        <div class="layui-btn-container">
            <!--<a class="layui-btn layui-btn-sm">导出</a>-->
            <a class="layui-btn layui-btn-sm" id="add">新 增</a><!-- href="{:url('admin/manager/add')}" -->
        </div>
        <div class="layui-form">
            <div class="layui-input-inline">
                <select name="shop_id" id="shop_id" lay-filter="shop_id">
                    <option value="0">请选择所入仓库</option>
                    {volist name="shop" id="vo"}
                        <option value="{$vo['id']}">{$vo['name']}</option>
                    {/volist} 
                </select>
            </div>


            <div class="layui-input-inline">
                <input class="layui-input" id="name" name="name" placeholder="订单号/备注关键字" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="time" name="time" placeholder="开始时间" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="end_time" name="end_time" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                </button>
            </div>
            <table class="layui-hide" id="table" lay-filter="table"></table> 
        </div>
        <script type="text/html" id="statusTool">
            {{# if(d.status ==1){}}
                已入库
            {{#}else if(d.status==2){}}
                已取消
            {{#}}}
        </script>
        <script type="text/html" id="barTool">
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="quxiao" style="width:43px;background-color:#5ba4f2">删除</a>
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit" style="width:43px;background-color:#5ba4f2">编辑</a>
        </script>
    </div>
</div>

<script type="text/javascript">
layui.use(["table","layer","form"], function() {
    var table = layui.table,
        form  = layui.form,
        layer = layui.layer,
        $ = layui.$;
    table.render({
        elem: '#table',
       /* toolbar: '#toolbarDemo',*/
        skin: 'row', //行边框风格
        even: true ,//开启隔行背景
        id:"tableTest",
        url: '{:url("admin/cost_reverse/getList")}',
        height: 'full-148',
        page: true,
        cols: [[
            { field: 'id',width:80, title: 'ID'},
            { field: 'name',minWidth:180,width:100,title: '所属门店',style:"vertical-align:text-top;"},
            { field: 'order_sn', minWidth:260,width:200,title: '订单单号',style:"vertical-align:text-top;"},
            { field: 'price',width:80,title: '成本',style:"vertical-align:text-top;"},
            { field: 'title', title: '备注',style:"vertical-align:text-top;"},
            { field: 'create_time',width:160,title: '添加时间',style:"vertical-align:text-top;"},
            // { field: 'allprice_list', title: '合计金额',style:"vertical-align:text-top;"},
            // { align: 'status', title: '状态',toolbar: '#statusTool'},
            { align: 'center',minWidth:100,width:130,title: '操作',toolbar: '#barTool'},
        ]],
    });

    //搜索
    $("#searchEmailCompany").on("click",function(){

        var name = $('#name').val();
        var shop_id = $('#shop_id').val();
        var time = $('#time').val();
        var end_time = $('#end_time').val();
        table.reload('tableTest', {
          url: '/admin/cost_reverse/getList',
          where:{  name:name,
                    shop_id:shop_id,
                    start_time:time,
                    end_time:end_time
                } //设定异步数据接口的额外参数
        });
    });

    $("#add").click(function(){
        layer.open({
            type:2,
            title: '<strong>营业成本冲正</strong>',
            area: ['1200px', '740px'],
            content: '{:url("admin/cost_reverse/add")}',
            end: function(layero, index){
                table.reload('tableTest', {
                });
            }
        })
    })
    table.on('tool(table)', function(obj) {
        var data = obj.data;
        //取消入库
        if (obj.event === 'quxiao') {
            layer.confirm('该操作是不可逆行为，将无法恢复请慎重操作！', { icon: 3, title: '提示' }, function(index) {
                layer.close(index);
                $.post('{:url("admin/cost_reverse/del")}', { 'id': data.id }, function(data) {

                    if(typeof(data) == 'string')
                    {
                        data = JSON.parse(data);
                    }
                    if (data.code == 200) {
                        if (data.url) {
                            layer.msg(data.msg + ' 页面即将自动跳转~');
                        } else {
                            layer.msg(data.msg);
                        }
                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            } else {
                                location.reload();
                            }
                        }, 1500);
                    } else {
                        layer.msg(data.msg);
                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            }
                        }, 1500);
                    }

                });
            });
        }

        //编辑
        if (obj.event === 'edit') {
            var id = $(this).parents('tr').children().eq(0).find('div').text();
            layer.open({
                type:2,
                title: '<strong>营业成本冲正</strong>',
                area: ['1200px', '740px'],
                content: '{:url("admin/cost_reverse/edit")}?id='+id,
                end: function(layero, index){
                    table.reload('tableTest', {
                    });
                }
            });
        }
    });
});
</script>
<script>
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      //执行第一个laydate实例
      laydate.render({
        elem: '#time', //指定元素
        type: 'datetime'
      });
      //执行第二个laydate实例
      laydate.render({
        elem: '#end_time', //指定元素
        type: 'datetime'
      });
    });
</script>
</body>

</html>
