{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <a class="layui-btn"  lay-filter="add" href="{:url('admin/ticket/add')}">添加服务卡</a>
        </div>
    </script>
    <div class="layui-card-body">
        <div class="layui-form">
            <div class="layui-input-inline">
                <input class="layui-input" id="demoReload" name="name" placeholder="请输入服务卡名称" autocomplete="off">
            </div>

            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                </button>
            </div>

            <table class="layui-hide" id="ticket" lay-filter="ticket"></table>
            <script type="text/html" id="shopTool">
                {{# if(d.all_shop =="0"){}}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="shop">查看门店</a>
                {{#}else if(d.all_shop=="1"){}}
                    <a class="layui-btn layui-btn-xs"  lay-event="shop">所有门店</a>
                {{#}}}
            </script>
            <script type="text/html" id="serviceTool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="service">查看服务</a>
            </script>
            <script type="text/html" id="priceTool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="price">查看金额</a>
            </script>
            <script type="text/html" id="otherTool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="other">其他限制</a>
            </script>
            <script type="text/html" id="barTool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="details">查看详情</a>
                <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a> -->
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use(["table","layer","form"], function() {
    var table = layui.table,
        layer = layui.layer,
        form  = layui.form,
        $ = layui.$;



    table.render({
        elem: '#ticket',
        toolbar: '#toolbarDemo',
        skin: 'row', //行边框风格
        even: true ,//开启隔行背景
        id:"tableTest",
        url: '{:url("admin/ticket/ticket_list")}',
        height: 'full-148',
        page: true,
        cols: [[
            { field: 'shop',align: 'center',  title: '所属门店', toolbar: '#shopTool'},
            { field: 'card_name',align: 'center',width: 120,  title: '服务卡名称'},
            { field: 'type',align: 'center',  title: '类型/使用期限'},
            { field: 'service',align: 'center', title: '所属服务' , toolbar: '#serviceTool'},
            { field: 'critulation',align: 'center',title: '发行量' },
            { field: 'restrict_num',align: 'center',  title: '单人限制'},
            { field: 'start_time',align: 'center',width: 120, title: '开始时间'},
            { field: 'end_time',align: 'center',width: 120, title: '结束时间'},
            { field: 'create_time',align: 'center', width: 160, title: '创建时间'},
            { field: 'update_time',align: 'center', width: 160, title: '更新时间'},
            { field: 'status',align: 'center',width: 80, title: '状态'},
            { align: 'center', width: 185, title: '操作', toolbar: '#barTool' }
        ]],
    });

    //搜索
    $("#searchEmailCompany").on("click",function(){
        var name = $('#demoReload').val();
        table.reload('tableTest', {
            url: '/admin/ticket/ticket_list',
            where: {card_name:name} //设定异步数据接口的额外参数
        });
    });
    table.on('tool(ticket)', function(obj) {
        var data = obj.data;
        if (obj.event === 'shop') {
            var id = data.id;
            $.ajax({
                url: '{:url("admin/ticket/ticket_shop")}',
                type: "POST" ,
                data: {id:id},
                beforeSend: function (XMLHttpRequest) {
                    loadingFlag= layer.msg('正在读取数据，请稍候……',
                        {icon: 16,
                        shade: 0.3,
                        shadeClose:false,
                        time:30000
                    });
                },
                success:function(data){
                    layer.close(loadingFlag);
                    var shop ="";
                    for(var i = 0;i<data.data.length;i++){
                        shop += `<input type="checkbox" name="shop_name" lay-skin="primary" title="`+data.data[i].shop_name+`"  checked disabled="disabled" >`;
                    }
                    /*return false;*/
                    layer.open({
                        type:1,
                        title:"已选门店",
                        area:['300px','400px'],
                        content:`<form class="layui-form">
                            <div class="layui-form-item" >
                                <div style="margin-left:20px;">
                                    ${shop}
                                </div>
                            </div>
                        </form>`,
                        success: function(layero){                            
                            form.render("checkbox");
                        },
                    })
                }
            })
        }
        if (obj.event === "details"){
            var id = data.id;
            layer.open({
                type:2,
                title:"服务卡详情",
                area:['800px',"600px"],
                content:'{:url("admin/ticket/details")}?id='+id,
                success:function(layero){

                }
            })
        }
        if (obj.event === "edit"){
            var id = data.id;
            window.location.href = '{:url("admin/ticket/edit")}?id='+id;
        }
        if (obj.event === "del"){
             var id = data.id;
            layer.confirm("确认删除 "+obj.data.card_name+" ?", function(index){
                $.ajax({
                    url: '{:url("admin/ticket/ticketDel")}',
                    type: "POST" ,
                    data: {id:id},
                    success:function(res){
                        if(res.result){
                            layer.msg(res.msg,{icon: 6 , time: 1200 ,shade:0.6},function(){
                                table.reload('tableTest', {
                                });
                                layer.close(index);
                            })
                        }else{
                            layer.msg(res.msg,{icon:5});
                        }
                    },
                });
            });       
        }
        if (obj.event === 'service') {
            var id = data.id;                  
            layer.open({
                type:1,
                title:"服务列表",
                area:['800px','600px'],
                content:` <table class="layui-hide" id="ticket_service" lay-filter="ticket_service"></table>`,
                success: function(layero){                            
                    table.render({
                        elem: '#ticket_service',
                        /*toolbar: '#toolbarDemo',*/
                        skin: 'row', //行边框风格
                        even: true ,//开启隔行背景
                        id:"serviceTest",
                        url: '{:url("admin/ticket/ticket_service")}?id='+id,
                        height: '530',
                        page: true,
                        cols: [[
                            { field: 'service_name',align: 'center',  title: '服务名'},
                            { field: 'num',align: 'center',  title: '服务次数'},
                            { align: 'center',  title: '金额', toolbar: '#priceTool' },
                            { field: 'day',align: 'center',  title: '每日限制',},
                            { field: 'month',align: 'center', title: '每月限制' },
                            { field: 'year',align: 'center',title: '每年限制' },
                            { align: 'center',  title: '其他限制', toolbar: '#otherTool' },
                        ]],
                    });
                    table.on('tool(ticket_service)', function(obj) {
                        if (obj.event === 'price') {
                            var data = obj;
                            var id = obj.data.id;
                            var price ="";
                            $.ajax({
                                url: '{:url("admin/ticket/ticket_service_money")}',
                                type: "POST" ,
                                data: {id:id},
                                success:function(pdata){
                                    price = pdata.data;
                                    var phtml ="";
                                    for(var p =0;p<price.length;p++){
                                        phtml +=`
                                        <div class="ddxm-form-item ddxm-content-long" >
                                            <label class="layui-form-label">`+price[p].level_name+`：</label>
                                            <div class="layui-form-mid layui-word-aux">
                                                `+price[p].price+`
                                            </div>
                                        </div>`;
                                    }
                                    layer.open({
                                        type:1,
                                        title:"金额详情",
                                        area:["300px","300px"],
                                        content:phtml,
                                        success:function(lay){

                                        }
                                    })
                                }
                            })
                            
                        }  
                        if (obj.event === 'other') {
                            var data = obj;
                            var id = obj.data.id;
                            var other ="";
                            $.ajax({
                                url: '{:url("admin/ticket/ticket_service_other")}',
                                type: "POST" ,
                                data: {id:id},
                                success:function(odata){
                                    other = odata.data;
                                    var ohtml ="";
                                    
                                    for(var o =0;o<other.length;o++){
                                        var other_time ="";
                                        var other_num = "";
                                        if(other[o]['start_time'] ==0){
                                            other_time = "无限制";
                                        }else{
                                            other_time = other[o]['start_time']+`~`+other[o]['end_time'];
                                        }
                                        if(other[o]['num'] ==0){
                                            other_num = "无限制";
                                        }else{
                                            other_num = other[o]['num'];
                                        }
                                        ohtml +=`
                                        <div class="ddxm-form-item ddxm-content-long" >
                                            <label class="layui-form-label">起始时间：</label>
                                            <div class="layui-form-mid layui-word-aux ddxm-col">
                                                `+other_time+`
                                            </div>
                                            <label class="layui-form-label">限制次数：</label>
                                            <div class="layui-form-mid layui-word-aux">
                                                `+other_num+`
                                            </div>
                                        </div>`;
                                    }
                                    layer.open({
                                        type:1,
                                        title:"金额详情",
                                        area:["500px","300px"],
                                        content:ohtml,
                                        success:function(lay){
                                        }
                                    })
                                }
                            })
                        }
                    })
                }
            })
        }

    });



});
</script>
{/block}
