<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <meta name="author" content="YZNCMS">
    <link rel="stylesheet" href="__STATIC__/libs/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/ddxm.css">
    <link rel="stylesheet" href="__STATIC__/admin/font/iconfont.css">
    <script src="__STATIC__/libs/layui/layui.js"></script>
    <script src="__STATIC__/libs/jquery/jquery.min.js"></script>
    <style type="text/css">
        .layui-table-cell{
            height:auto !important;
        }
        .layui-layer-title{
            text-align: center;
            padding: 0 ;
            font-size:20px;

        }
        .width150{
            width:70px;
        }
        .width200{
            width:70px;
        }
    </style>

    <script type="text/javascript">
        //全局变量
        var GV = {
            'image_upload_url': '{$image_upload_url ? $image_upload_url : url("attachment/attachments/upload", ["dir" => "images", "module" => request()->module()])}',
            'file_upload_url': '{$file_upload_url ? $file_upload_url : url("attachment/attachments/upload", ["dir" => "files", "module" => request()->module()])}',
            'WebUploader_swf': '__STATIC__/webuploader/Uploader.swf',
            'upload_check_url': '{$upload_check_url ? $upload_check_url : url("attachment/Attachments/check")}',
            'ueditor_upload_url': '{$ueditor_upload_url ? $ueditor_upload_url : url("attachment/Ueditor/run")}',
        };
    </script>
</head>
<body class="childrenBody">
<div class="layui-card">
    <div class="layui-card-header">充值累积送活动列表</div>
    <div class="layui-card-body">
        <div class="layui-form">

            <a class="layui-btn layui-btn-sm" id="Add" href="{:url('Mailactivity/add')}" >添加活动</a>

<!--            <div class="layui-input-inline">-->
<!--                <input class="layui-input" id="demoReload" name="name" placeholder="商品名称" autocomplete="off">-->
<!--            </div>-->

<!--            <div class="layui-input-inline " style="width: 90px">-->
<!--                <button class="layui-btn" id="searchEmailCompany" data-type="reload">-->
<!--                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索-->
<!--                </button>-->
<!--            </div>-->
            <table class="layui-hide" id="table" lay-filter="table"></table>

            <script type="text/html" id="barTool">
                {{#  if(d.status == 1){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">下架</a>
                {{#  } else if(d.status == 2) { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="start">上架</a>
                {{#  } }}
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            </script>

            <script type="text/html" id="typeTool">
                {{#  if(d.type == 1){ }}
                    充值送
                {{#  } else if(d.type == 2) { }}
                    单月累积送
                {{#  } }}
            </script>

        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(["table","layer"], function() {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#table',
            toolbar: '#toolbarDemo',
            skin: 'row', //行边框风格
            even: true ,//开启隔行背景
            id:"tableTset",
            url: '{:url("mall/mailactivity/index")}',
            height: 'full-128',
            /*limit:1,
            limits:[1,2,30,40,50,60,70,80,90],*/
            page: true,
            cols: [
                [
                    { field: 'id', width: 80, title: 'ID'},
                    { field: 'shopname', /*width: 80,*/ title: '门店名字'},
                    { field: 'card_name', /*width: 80,*/ title: '服务卡名字'},
                    { field: 'type', /*width: 120,*/ title: '类型',toolbar:'#typeTool'},
                    { field: 'price', title: '充值/累积金额' },
                    { field: 'create_time', title: '添加时间' },
                    { fixed: 'right', /*width: 160,*/ title: '操作', toolbar: '#barTool' }
                ]
            ],
        });


        //搜索
        $("#searchEmailCompany").on("click",function(){
            var name = $('#demoReload').val();
            table.reload('tableTset', {
                url: '/mall/Seckill/list1',
                where: {name:name} //设定异步数据接口的额外参数
            });
        });

        //监听行工具事件
        table.on('tool(table)', function(obj) {
            var data = obj.data;
            //console.log(obj);
            if (obj.event === 'del') {
                layer.confirm('确定下架这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("mall/Mailactivity/del")}', { 'id': data.id,'item_id':data.item_id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }
                    });
                });
            }else if (obj.event === 'edit') {
                location.href = "/mall/Mailactivity/update?id=" + data.id;
            }
            else if (obj.event === 'start') {
                layer.confirm('确定上架这条数据？', { icon: 3, title: '提示' }, function(index) {
                    layer.close(index);
                    $.post('{:url("mall/Mailactivity/start")}', { 'id': data.id,'item_id':data.item_id }, function(data) {
                        if (data.code == 1) {
                            if (data.url) {
                                layer.msg(data.msg + ' 页面即将自动跳转~');
                            } else {
                                layer.msg(data.msg);
                            }
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                } else {
                                    location.reload();
                                }
                            }, 1500);
                        } else {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                if (data.url) {
                                    location.href = data.url;
                                }
                            }, 1500);
                        }

                    });
                });
            }
        });
    });

    layui.use(["form"], function(){
        var layer = layui.layer;
        form = layui.form;
        //筛选分类
        form.on('select(type_id)', function(data){
            var val=data.value;
            $.ajax({
                type : "post",
                url : "/admin/Item/category_select",
                data: {pid:val},
                dataType: 'json',
                success:function(res){
                    if( res.code == 1 ){
                        var category = res.data;
                        var option = '';
                        $('#type').empty();
                        $('#type').append("<option value=''>请选择</option>");
                        for( var k in category){
                            $("#type").append("<option value=" + category[k].id + ">" + category[k].cname + "</option>");
                        }
                        form.render("select");
                    }
                }
            });
        });
    });
</script>
{/block}
