{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <div class="layui-input-inline">
                <select name="shop_id" id="shop_id" lay-filter="shop_id">
                    <option value="0">请选择盘点仓库</option>
                    {volist name="shop" id="vo"}
                        <option value="{$vo['id']}">{$vo['name']}</option>
                    {/volist} 
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="status" id="status" lay-filter="status">
                    <option value="0">请选择状态</option>
                    <option value="1">待确认</option>
                    <option value="2">已确认</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="name" name="name" placeholder="订单号/盘点人员名称" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="time" name="time" placeholder="开始时间" autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" id="end_time" name="end_time" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="layui-input-inline " style="width: 90px">
                <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                    <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                </button>
            </div>
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                <!-- <a class="layui-btn layui-btn-sm" id="Add">新增盘点</a> -->
              </div>
            </script>
            <script type="text/html" id="barTool">
                {{#  if(d.status == 1){ }}
                <a class="layui-btn layui-btn-xs" lay-event="sure">确认入库</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-xs" lay-event="info">详情</a>
                {{#  } }}


                {{#  if(d.auth > 2){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
                {{#  } }}


            </script>
            <script type="text/html" id="statusTool">
                {{#  if(d.status == 1){ }}
                待确认
                {{#  } else { }}
                已确认
                {{#  } }}
            </script>
            
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      //执行第一个laydate实例
      laydate.render({
        elem: '#time', //指定元素
        type: 'datetime'
      });
      //执行第二个laydate实例
      laydate.render({
        elem: '#end_time', //指定元素
        type: 'datetime'
      });
    });
</script>

<script type="text/javascript">
layui.use(["table","layer"], function() {
    var table = layui.table,
        layer = layui.layer,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        skin: 'row', //行边框风格
        even: true ,//开启隔行背景
        id:"tableTset",
        url: '{:url("admin/Deposit/win_list")}',
        height: 'full-128',
        /*limit:1,
        limits:[1,2,30,40,50,60,70,80,90],*/
        where:{type:2},
        page: true,
        cols: [
            [
                { field: 'id', /*width: 80,*/ title: 'ID'},
                { field: 'order_sn', /*width: 80,*/ title: '订单号'},
                { field: 'shop_id', /*width: 80,*/ title: '盘点仓库'},
                { field: 'creator_id', /*width: 80,*/ title: '盘点人员'},
                { field: 'stime',/* width: 200, */title: '盘点时间' },
                { field: 'status', /*width: 80,*/ title: '状态',toolbar: '#statusTool'},
                { fixed: 'right', /*width: 160,*/ title: '操作', toolbar: '#barTool' }
            ]
        ],
    });

    //搜索
    $("#searchEmailCompany").on("click",function(){
        var name = $('#name').val();
        var shop_id = $('#shop_id').val();
        var status = $('#status').val();
        var time = $('#time').val();
        var end_time = $('#end_time').val();
        table.reload('tableTset', {
          url: '/admin/Deposit/win_list',
          where:{  name:name,
                    shop_id:shop_id,
                    status:status,
                    time:time,
                    end_time:end_time
                } //设定异步数据接口的额外参数
        });
    });

    //监听行工具事件
    table.on('tool(table)', function(obj) {
        var data = obj.data;
        //console.log(obj);
        if (obj.event === 'del') {
            layer.confirm('确定删除这条数据？', { icon: 3, title: '提示' }, function(index) {
                layer.close(index);
                $.post('{:url("admin/Deposit/pandian_del")}', { 'id': data.id }, function(data) {
                    if (data.code == 1) {
                        if (data.url) {
                            layer.msg(data.msg + ' 页面即将自动跳转~');
                        } else {
                            layer.msg(data.msg);
                        }
                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            } else {
                                location.reload();
                            }
                        }, 1500);
                    } else {
                        layer.msg(data.msg);
                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            }
                        }, 1500);
                    }

                });
            });
        }else if (obj.event === 'edit') {
            var url = '{:url("admin/Deposit/edit_tt")}' + "?id=" + data.id;
            layer.open({
                type: 2,
                title: '编辑盘亏单',
                area: ['800px', '800px'],
                content: url,
                end: function(layero, index){
                   table.reload('tableTset', {
                    });
                }
            });
        }else if (obj.event === 'info') {
            var url = '{:url("admin/Deposit/info")}' + "?id=" + data.id;
            layer.open({
                type: 2,
                title: '盘亏单详情',
                area: ['800px', '800px'],
                content: url,
                end: function(layero, index){
                   table.reload('tableTset', {
                    });
                }
            });
        }else if (obj.event === 'sure') {
            var url = '{:url("admin/Deposit/sure_stock")}' + "?id=" + data.id;
            layer.open({
                type: 2,
                title: '盘亏单确认库存',
                area: ['800px', '800px'],
                content: url,
                end: function(layero, index){
                   table.reload('tableTset', {
                    });
                }
            });
        }
    });
});
</script>
{/block}
