<!--{extend name="index_layout"/}-->
{block name="main"}
<div class="layui-card">
    <div class="layui-row layui-col-md12">
        <div class="layui-card-header ddxm-title-bg"><strong>订单明细-{$data.sn}</strong></div>
        <div class='ddxm-content-bg'>
            <div class="ddxm-content-col">
                <div class="layui-card-header"><strong>订单详情</strong></div>
                <div class="ddxm-form-item" >
                    <label class="layui-form-label">交易时间</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.overtime}
                    </div>
                    <label class="layui-form-label"> 交易门店</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.shop_code} - {$data.shop_name}
                    </div>
                </div>
                <div class="ddxm-form-item" >
                    <label class="layui-form-label">交易渠道</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.is_online}
                    </div>
                    <label class="layui-form-label">服务人员</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.waiter}
                    </div>
                </div>
                <div class="ddxm-form-item ddxm-content-long" >
                    <label class="layui-form-label">订单成本</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.oprice}元
                    </div>
                </div>
                <hr>
                <div class="ddxm-form-item layui-card-header"><strong>收款信息</strong></div>
<!--                <div class="ddxm-form-item" ></div>-->
                <div class="ddxm-form-item ddxm-content-long" >
                    <label class="layui-form-label">应收金额：</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.old_amount} 元
                    </div>
                </div>
                <div class="ddxm-form-item ddxm-content-long" >
                    <label class="layui-form-label">实收金额：</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col-long">
                     {$data.amount} 元 
                    </div>
                </div>
                <div class="ddxm-form-item ddxm-content-long" >
                    <label class="layui-form-label">收款方式：</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.pay_way}
                    </div>
                </div>
                <hr>
                <div class="ddxm-form-item layui-card-header"><strong>会员信息</strong></div>
                {if condition="$data.member=='匿名用户'"}
                <div class="ddxm-form-item" >
                    <label class="layui-form-label">{$data.member}</label>
                </div>
                {else/}
                <div class="ddxm-form-item" >
                    <label class="layui-form-label">会员账号</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.member.mobile}
                    </div>
                    <label class="layui-form-label">会员昵称</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.member.nickname}
                    </div>
                </div>
                <div class="ddxm-form-item" >
                    <label class="layui-form-label">会员等级</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.member.level_name}
                    </div>
                    <label class="layui-form-label">会员余额</label>
                    <div class="layui-form-mid layui-word-aux ddxm-col">
                    {$data.member.money}
                    </div>
                </div>
                {/if}
                <hr>
                <div id="goodss">
                     <div class="ddxm-form-item layui-card-header"><strong>商品信息</strong></div>
                    <table class="layui-table"  lay-filter="goods" id="goods">
                    </table>
                    <hr>
                </div>
<!--                <script type="text/html" id="barTool">
                {{# if(d.status ==1){}}
                    <div class="layui-btn layui-btn-xs" style="cursor:default">
                        正常
                    </div>
                {{#}else if(d.order_status==2){}}
                    <div class="layui-btn layui-btn-xs layui-btn-normal" style="cursor:default">
                        有退单
                    </div>
                {{#}else if(d.order_status=="已退单"){}}
                    <div class="layui-btn layui-btn-xs layui-btn-danger" style="cursor:default">
                        已退单
                    </div>
                {{#}}}
                </script>-->
                <script type="text/html" id="statusTool">
                {{# if(d.r_status ==0){}}
                    申请中
                {{#}else if(d.r_status==1){}}
                    完成
                {{#}else if(d.r_status==1){}}
                    取消退货
                {{#}}}
                <!-- <a class="layui-btn layui-btn-xs" lay-event="details">订单详情</a> -->
                </script>

                <div id="refunds" data="111">
                    <div class="ddxm-form-item layui-card-header"><strong>退货信息</strong></div>
                    <table class="layui-table"  lay-filter="refund" id="refund">
                    </table>
                    <hr>
                </div>

            </div>
            <hr>
            <div style="float:right;margin-right:20px;margin-bottom:10px">
                <!-- <button type="button" class="layui-btn  layui-btn-danger" id = "order_refund">退货</button> -->
                <button type="button" class="layui-btn  layui-btn-normal" id = "close">关闭</button>
            </div>

        </div>
    </div>

</div>
{/block}
{block name="script" }
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script>
    layui.use(["table","layer"], function(){
    var table = layui.table,
        layer = layui.layer,
        $ = layui.$;
        var id = "{$data.id}";
        $("#order_refund").click(function(){
            var url = "{:url('admin/order/refund')}?id="+id;
            layer.open({
                type:2,
                title:"退货订单",
                shade :0.5,
                area:['760px','500px'],
                content:url,
                end: function(layero, index){
                   table.reload('goods', {
                    });
                    table.reload('refund', {
                        done: function(res, curr, count){
                            if(count>0){
                               $("#refunds").show();  
                            }
                        }
                    });
                }
            })
        })
        $("#close").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        })
        table.render({
            elem: '#refund',
            url:'/admin/order/refundlist?id='+id,
            title: '商品名称',
            even: true,
            totalRow: true,
            id:'refund',
            cols: [[
                {field: 'r_sn',title: '退货订单',width:160,align: 'center',totalRowText:'合计:' },
                {field: 'r_number',title: '数量',width:100,align: 'center',totalRow:true },
                {field: 'r_amount',title: '总金额',width:100,align: 'center',totalRow:true},
                {field: 'add_time',title: '添加时间',align: 'center',width:160},
                {field: 'dealwith_time',title: '处理时间',align: 'center',width:160},
                {field: 'r_status',title: '状态',width:130,align: 'center',toolbar:'#statusTool' },
            ]],
            done: function(res, curr, count){
                if(count==0){
                    
                    $("#refunds").hide();
                }
            }
        })
        table.render({
            elem: '#goods',
           url:'/admin/order/goodslist?order_id='+id,
            title: '退货信息',
            even: true,
            totalRow: true,
            id:'goods',
            cols: [[
                {field: 'subtitle',title: '商品名称',align: 'center',totalRowText:'合计:' },
                {field: 'num',title: '数量',width:60,align: 'center',totalRow:true},
                {field: 'oprice',title: '成本价',width:80,align: 'center',totalRow:true},
                {field: 'price',title: '原价',align: 'center',width:80},
                {field: 'modify_price',title: '改价',align: 'center',width:60},
                {field: 'real_price',title: '成交价格',width:100,align: 'center' },
                {field: 'real_total',title: '付款总额',width:100,align: 'center',totalRow:true},
                {field: 'refund',title: '退货数量',width:100,align: 'center',totalRow:true},
            ]],
            done: function(res, curr, count){
                if(count==0){
                    $("#goodss").hide();
                }
            }
        })
        table.on('tool(refund)', function(obj) {
            var data = obj.data;
            console.log(data);
            if(obj.event==="details"){
                layer.open({
                    type:1,
                    title:'退单详情',
                    area:['800px','600px'],
                    content:`
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                               ${data.r_sn}
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">退单时间</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                                ${data.dealwith_time}
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md16">
                            <label class="layui-form-label">操作员</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                                ${data.creator}
                            </div>
                        </div>
                        <div class="layui-col-md16">
                            <label class="layui-form-label">退款方式</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                                ${data.r_type==null?"以前数据":data.r_type}
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <label class="layui-form-label">退货原因</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                                ${data.reason}
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">退货备注</label>
                            <div class="layui-form-mid layui-word-aux" style="width:200px;">
                                ${data.remarks}
                            </div>
                        </div>                        
                    </div>
                    <table class="layui-table" id="test">
                    </table>

                    `,
                zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                        table.render({
                            elem: '#test',
                            url:'/admin/order/refundgoods?type=1&id='+data.r_sn,
                            title: '退货清单',
                            even: true,
                            cols: [[
                                //{type:'checkbox'},
                               /* {field: 'r_attr_pic',title: '商品图片',align: 'center' },*/
                                {field: 'r_subtitle',title: '商品名称',align: 'center'},
                                {field: 'num',title: '购买数量',align: 'center'},
                                {field: 'y_num',title: '已退数量',align: 'center'},
                                {field: 'r_num',title: '数量',align: 'center'},
                                /*{field: 'r_price',title: '单价',align: 'center'},*/
                                {field: 'r_total',title: '总价',align: 'center'},
                            ]],
                            done: function(res, curr, count){
                                $(".goodsimg").click(function(){
                                    alert("图片放大 待续");
                                })
                             }
                        })
                    }
                });
            }
        })
    });
</script>
{/block}
